@import "tailwindcss";

@theme {
  --color-primary: #4A93A7;
  --color-secondary: #A74A66;
  --color-secondary-100: #F7E8EC;
  --color-secondary-200: #EABDC9;
  --color-secondary-400: #CC6E8A;
  --color-secondary-500: #A74A66; /* secundario */
  --color-secondary-700: #7A354C;
  --color-dark: #1F2937;
  --color-light: #F9FAFB;

  --color-contrast-primary:#F2B705;
  --color-contrast-sencodary:#E9724C;

  --font-sans: 'Questrial', 'Inter', sans-serif;
}

.w-100 {
  width: 100%;
}

.section-hidden {
  display: none;
}

.active-section {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

.active-nav {
  color: #4FB0C6;
  font-weight: bold;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.donation-option {
  transition: all 0.3s ease;
}

.donation-option:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
}

.logo-navbar {
  height: 48px;
}
